Repository rokstr86/clarityaccess-next: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: move lint-staged config to package.json
  .lintstagedrc.json
Due: none

chore(vercel): valid vercel.json (headers + caching)
  vercel.json
Due: none

chore: remove vercel.json
  vercel.json
Due: none

feat(seo): robots.txt, sitemap.xml, default metadata, manifest
  package-lock.json
  package.json
  public/og-default.png
  src/app/layout.tsx
  src/app/manifest.webmanifest
  src/app/robots.ts
  src/app/sitemap.ts
  src/lib/site.ts
Due: eslint --fix, prettier --write

chore(eslint): ignore postcss.config.cjs and other config files
  .eslintignore
  package.json
Due: prettier --write

chore: use explicit lint-staged.config.mjs and fix pre-commit
  .eslintrc.json
  .husky/pre-commit
  .lintstagedrc.json
  eslint.config.mjs
  lint-staged.config.mjs
  package-lock.json
  package.json
  postcss.config.cjs
  src/lib/site.ts
  src/types/global.d.ts
Due: eslint --fix, prettier --write

fix: update layout.tsx and tsconfig.json
  src/app/layout.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

chore(ts): remove ignoreDeprecations for CI compatibility
  package-lock.json
Due: none

chore: remove ignoreDeprecations and pin TS 5.6
  .eslintignore
  .eslintrc.json
  .gitignore
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier --write

chore: clean build, pin TS 5.6, fix ESLint config
  .eslintrc.json
  package-lock.json
Due: none

chore: remove ignoreDeprecations across tsconfigs and pin TS 5.6.3
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

chore: temporarily ignore TS/ESLint errors for deploy
  next.config.mjs
Due: none

fix: valid default exports for robots & sitemap
  src/app/robots.ts
  src/app/sitemap.ts
Due: eslint --fix, prettier --write

feat(ui): add header nav tabs and footer; render in layout
  src/app/about/page.tsx
  src/app/layout.tsx
  src/components/site/footer.tsx
  src/components/site/header.tsx
Due: eslint --fix, prettier --write

fix(about): define Faq component
  src/app/about/page.tsx
Due: eslint --fix, prettier --write

chore: update layout + tsconfig; ignore tsbuildinfo
  .gitignore
  src/app/layout.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

feat(about): add images and enhanced layout
  public/public
  src/app/about/page.tsx
Due: eslint --fix, prettier --write

feat(pricing): add Free , Pro .99, Business .99 tiers
  src/app/pricing/page.tsx
Due: eslint --fix, prettier --write

add about page images (placeholders)
  public/about/aria-roles.png
  public/about/contrast-check.png
  public/about/hero-scan.png
  public/about/keyboard-nav.png
  public/about/report-pdf.png
Due: none

feat(about): add detailed about page with SVG illustrations
  public/about/aria-roles.png
  public/about/aria-roles.svg
  public/about/contrast-check.png
  public/about/contrast-check.svg
  public/about/hero-scan.png
  public/about/hero-scan.svg
  public/about/keyboard-nav.png
  public/about/keyboard-nav.svg
  public/about/report-pdf.png
  public/about/report-pdf.svg
  src/app/about/page.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: src/**/*.{ts,tsx,js,jsx}
  prettier --write: ((any of: src/**/*.{ts,tsx,js,jsx}) or (any of: *.{md,css})) or (any of: package.json)
